# toml
[product]
name = "CVM"

[role]
area = ""  # 地域码（zone）缩写，如：gz、sh，腾讯云现网环境能自动获取
sold_type = "SA9.32XLARGE512"  # 实例类型（instance_type），腾讯云现网环境能自动获取
username = "ubuntu"  # centos/tlinux一般为root，ubuntu一般为ubuntu
port = 22
password = "Perf@host#2024"
vendor = "qcloud" #厂商必须填写：腾讯云：qcloud，阿里云：aliyun，亚马逊云：aws，华为云：huaweiyun，微软云：azure，火山云：volcengine


[role.client]
ip = "127.0.0.1"

[role.server]
ip = ""

[role.other]
ip = ""

[benchmark]
testing = [
      "cvm.baseline.speccpu_baseline",
      "cvm.baseline.alexnet_cpu_baseline"
]
compet_single_centos = [
      "cvm.baseline.super_pi_baseline",
      "cvm.baseline.liying_baseline",
      "cvm.baseline.vray_cpu_baseline",
      "cvm.baseline.contextswitch_baseline",
      "cvm.baseline.lmbench_baseline",
      "cvm.baseline.sysbench_memory_baseline",
      "cvm.baseline.ffmpeg_cpu_baseline",
      "cvm.baseline.unixbench_baseline",
      "cvm.baseline.linpack_baseline",
      "cvm.baseline.specjbb_baseline",
      "cvm.baseline.core_latency_lite_baseline",
      "cvm.baseline.tensorflowbenchmarks_cpu_baseline",
      "cvm.baseline.compress_baseline",
      "cvm.baseline.speccpu_baseline",
      "cvm.baseline.mlc_baseline",
      "cvm.baseline.stream_baseline",
      "cvm.baseline.ipi_baseline",
      "cvm.baseline.redis_single_baseline",
      "cvm.baseline.perf_bench_baseline",
      "cvm.baseline.openssl_baseline",
      "cvm.baseline.stress_ng_baseline",
      "cvm.baseline.hackbench_baseline",
      "cvm.baseline.wzry_baseline",
      "cvm.baseline.hrtimer_baseline"   
]

compet_single = [

      "cvm.baseline.super_pi_baseline",
      "cvm.baseline.vray_cpu_baseline",
      "cvm.baseline.contextswitch_baseline",
      "cvm.baseline.ffmpeg_cpu_baseline",
      "cvm.baseline.unixbench_baseline",
      "cvm.baseline.linpack_baseline",
      "cvm.baseline.specjbb_baseline",
      "cvm.baseline.core_latency_lite_baseline",
      "cvm.baseline.tensorflowbenchmarks_cpu_baseline",
      "cvm.baseline.compress_baseline",
      "cvm.baseline.speccpu_baseline",
      "cvm.baseline.mlc_baseline",
      "cvm.baseline.stream_baseline",
      "cvm.baseline.ipi_baseline",
      "cvm.baseline.redis_single_baseline",
      "cvm.baseline.perf_bench_baseline",
      "cvm.baseline.openssl_baseline",
      "cvm.baseline.stress_ng_baseline",
      "cvm.baseline.hackbench_baseline"
]


default = [
       "cvm.baseline.mlc_baseline",   #"cvm.baseline.super_pi_baseline",
]
# 63h
cvm = [
      "cvm.baseline.super_pi_baseline",
      "cvm.baseline.vray_cpu_baseline",
      "cvm.baseline.contextswitch_baseline",
      "cvm.baseline.ffmpeg_cpu_baseline",
      "cvm.baseline.unixbench_baseline",
      "cvm.baseline.linpack_baseline",
      "cvm.baseline.alexnet_cpu_baseline",
      "cvm.baseline.specjbb_baseline",
      "cvm.baseline.core_latency_lite_baseline",
      "cvm.baseline.tensorflowbenchmarks_cpu_baseline",
      "cvm.baseline.compress_baseline",
      "cvm.baseline.speccpu_baseline",
      "cvm.baseline.mlc_baseline",
      "cvm.baseline.lmbench_baseline",
      "cvm.baseline.stream_baseline",
      "cvm.baseline.ipi_baseline",
      "cvm.baseline.cyclictest_baseline",
      "cvm.baseline.hrtimer_baseline",
      "cvm.baseline.liying_baseline",
      "cvm.baseline.redis_single_baseline",
      "cvm.baseline.wzry_baseline",
      "cvm.baseline.fio_cbsssd_baseline",
      "cvm.baseline.etcd_baseline"
]
# 12h
cvm_net = [
          "cvm.baseline.ping_baseline",
          "cvm.baseline.ping_flood_baseline",
          "cvm.baseline.tcpping_baseline",
          "cvm.baseline.ping_size_baseline",
          "cvm.baseline.ping_flood_size_baseline",
          "cvm.baseline.iperf3_baseline",
          "cvm.baseline.redis_cluster_baseline",
          "cvm.baseline.nginx_wrk_baseline",
          "cvm.baseline.nginx_wrk_tune_baseline",
          "cvm.baseline.sockperf_baseline"
]
# 36h
cvm_lite = [
           "cvm.baseline.super_pi_baseline",
           "cvm.baseline.vray_cpu_baseline",
           "cvm.baseline.contextswitch_baseline",
           "cvm.baseline.ffmpeg_cpu_baseline",
           "cvm.baseline.unixbench_baseline",
           "cvm.baseline.linpack_baseline",
           "cvm.baseline.alexnet_cpu_baseline",
           "cvm.baseline.core_latency_lite_baseline",
           "cvm.baseline.tensorflowbenchmarks_cpu_baseline",
           "cvm.baseline.compress_baseline",
           "cvm.baseline.speccpu_baseline",
           "cvm.baseline.mlc_baseline",
           "cvm.baseline.lmbench_baseline",
           "cvm.baseline.stream_baseline",
           "cvm.baseline.ipi_baseline",
           "cvm.baseline.liying_baseline",
           "cvm.baseline.redis_single_baseline",
           "cvm.baseline.fio_cbsssd_baseline"
]
# 6h
cvm_net_lite = [
               "cvm.baseline.ping_baseline",
               "cvm.baseline.ping_flood_baseline",
               "cvm.baseline.tcpping_baseline",
               "cvm.baseline.iperf3_baseline",
               "cvm.baseline.redis_cluster_baseline",
               "cvm.baseline.nginx_wrk_baseline",
               "cvm.baseline.nginx_wrk_tune_baseline",
               "cvm.baseline.sockperf_baseline",
]
cpu = [
      "cvm.baseline.super_pi_baseline",
      "cvm.baseline.vray_cpu_baseline",
      "cvm.baseline.contextswitch_baseline",
      "cvm.baseline.ffmpeg_cpu_baseline",
      "cvm.baseline.unixbench_baseline",
      "cvm.baseline.linpack_baseline",
      "cvm.baseline.alexnet_cpu_baseline",
      "cvm.baseline.specjbb_baseline",
      "cvm.baseline.core_latency_lite_baseline",
      "cvm.baseline.tensorflowbenchmarks_cpu_baseline",
      "cvm.baseline.compress_baseline",
      "cvm.baseline.speccpu_baseline",
]
mem = [
      "cvm.baseline.mlc_baseline",
      "cvm.baseline.lmbench_baseline",
      "cvm.baseline.stream_baseline",
]
kernel = [
         "cvm.baseline.ipi_baseline",
         "cvm.baseline.cyclictest_baseline",
         "cvm.baseline.hrtimer_baseline",
]
disk = [
       "cvm.baseline.fio_cbsssd_baseline"
]
gpu = [
      "cvm.baseline.vray_gpu_baseline",
      "cvm.baseline.shoc_baseline",
      "cvm.baseline.ffmpeg_gpu_baseline",
      "cvm.baseline.alexnet_gpu_baseline",
      "cvm.baseline.horovod_gpu_baseline",
      "cvm.baseline.gpup2p_baseline"
]
net = [
      "cvm.baseline.ping_baseline",
      "cvm.baseline.ping_flood_baseline",
      "cvm.baseline.tcpping_baseline",
      "cvm.baseline.ping_size_baseline",
      "cvm.baseline.ping_flood_size_baseline",
      "cvm.baseline.iperf3_baseline",
      "cvm.baseline.sockperf_baseline"
]

[workload]
cpu = [
      "cvm.baseline.liying_baseline",
      "cvm.baseline.redis_single_baseline",
      "cvm.baseline.wzry_baseline"
]
net = [
      "cvm.baseline.redis_cluster_baseline",
      "cvm.baseline.sysbench_mysql_baseline",
      "cvm.baseline.nginx_wrk_baseline",
      "cvm.baseline.nginx_wrk_tune_baseline"
]

[test]
single_test = [
              "cvm.baseline.super_pi_baseline",
              "cvm.baseline.ipi_baseline"
]
single = [
         "cvm.baseline.super_pi_baseline",
         "cvm.baseline.speccpu_baseline",
         "cvm.baseline.contextswitch_baseline",
         "cvm.baseline.ffmpeg_cpu_baseline",
         "cvm.baseline.unixbench_baseline",
         "cvm.baseline.sysbench_cpu_baseline",
         "cvm.baseline.alexnet_cpu_baseline",
         "cvm.baseline.specjbb_baseline",
         "cvm.baseline.openssl_baseline",
         "cvm.baseline.stress_ng_baseline",
         "cvm.baseline.lmbench_baseline",
         "cvm.baseline.stream_baseline",
         "cvm.baseline.sysbench_memory_baseline",
         "cvm.baseline.ipi_baseline",
         "cvm.baseline.cyclictest_baseline",
         "cvm.baseline.core_latency_lite_baseline",
         "cvm.baseline.hrtimer_baseline",
         "cvm.baseline.redis_single_baseline"
]

single_all = [
             "cvm.baseline.super_pi_baseline",
             "cvm.baseline.vray_cpu_baseline",
             "cvm.baseline.contextswitch_baseline",
             "cvm.baseline.ffmpeg_cpu_baseline",
             "cvm.baseline.sysbench_cpu_baseline",
             "cvm.baseline.linpack_baseline",
             "cvm.baseline.alexnet_cpu_baseline",
             "cvm.baseline.openssl_baseline",
             "cvm.baseline.stress_ng_baseline",
             "cvm.baseline.core_latency_lite_baseline",
             "cvm.baseline.speccpu_baseline",
             "cvm.baseline.unixbench_baseline",
             "cvm.baseline.specjbb_baseline",
             "cvm.baseline.config_collect",
             "cvm.baseline.tensorflowbenchmarks_cpu_baseline",
             "cvm.baseline.compress_baseline",
             "cvm.baseline.specjbb_numatune_baseline",
             "cvm.baseline.mlc_baseline",
             "cvm.baseline.lmbench_baseline",
             "cvm.baseline.stream_baseline",
             "cvm.baseline.sysbench_memory_baseline",
             "cvm.baseline.fio_cbs_efficient_baseline",
             "cvm.baseline.ipi_baseline",
             "cvm.baseline.cyclictest_baseline",
             "cvm.baseline.hrtimer_baseline",
             "cvm.baseline.hackbench_baseline",
             "cvm.baseline.perf_bench_baseline",
             "cvm.baseline.filebench_baseline",
             "cvm.baseline.liying_baseline",
             "cvm.baseline.redis_single_baseline",
             "cvm.baseline.wzry_baseline",
             "cvm.baseline.tymyd_single_baseline",
             "cvm.baseline.hibench_baseline",
             "cvm.baseline.sysbench_mysql_single_baseline",
             "cvm.baseline.mysql_ziyan_slngle_baseline"
]

single_nvme_all = [
                  "cvm.baseline.super_pi_baseline",
                  "cvm.baseline.vray_cpu_baseline",
                  "cvm.baseline.contextswitch_baseline",
                  "cvm.baseline.ffmpeg_cpu_baseline",
                  "cvm.baseline.sysbench_cpu_baseline",
                  "cvm.baseline.linpack_baseline",
                  "cvm.baseline.alexnet_cpu_baseline",
                  "cvm.baseline.openssl_baseline",
                  "cvm.baseline.stress_ng_baseline",
                  "cvm.baseline.core_latency_lite_baseline",
                  "cvm.baseline.speccpu_baseline",
                  "cvm.baseline.unixbench_baseline",
                  "cvm.baseline.specjbb_baseline",
                  "cvm.baseline.config_collect",
                  "cvm.baseline.tensorflowbenchmarks_cpu_baseline",
                  "cvm.baseline.compress_baseline",
                  "cvm.baseline.specjbb_numatune_baseline",
                  "cvm.baseline.mlc_baseline",
                  "cvm.baseline.lmbench_baseline",
                  "cvm.baseline.stream_baseline",
                  "cvm.baseline.sysbench_memory_baseline",
                  "cvm.baseline.fio_nvme_baseline",
                  "cvm.baseline.ipi_baseline",
                  "cvm.baseline.cyclictest_baseline",
                  "cvm.baseline.hrtimer_baseline",
                  "cvm.baseline.hackbench_baseline",
                  "cvm.baseline.perf_bench_baseline",
                  "cvm.baseline.filebench_baseline",
                  "cvm.baseline.liying_baseline",
                  "cvm.baseline.redis_single_baseline",
                  "cvm.baseline.wzry_baseline",
                  "cvm.baseline.tymyd_single_baseline",
                  "cvm.baseline.hibench_baseline",
                  "cvm.baseline.sysbench_mysql_single_baseline",
                  "cvm.baseline.mysql_ziyan_slngle_baseline"
]

single_hdd_all = [
                 "cvm.baseline.super_pi_baseline",
                 "cvm.baseline.vray_cpu_baseline",
                 "cvm.baseline.contextswitch_baseline",
                 "cvm.baseline.ffmpeg_cpu_baseline",
                 "cvm.baseline.sysbench_cpu_baseline",
                 "cvm.baseline.linpack_baseline",
                 "cvm.baseline.alexnet_cpu_baseline",
                 "cvm.baseline.openssl_baseline",
                 "cvm.baseline.stress_ng_baseline",
                 "cvm.baseline.core_latency_lite_baseline",
                 "cvm.baseline.speccpu_baseline",
                 "cvm.baseline.unixbench_baseline",
                 "cvm.baseline.specjbb_baseline",
                 "cvm.baseline.config_collect",
                 "cvm.baseline.tensorflowbenchmarks_cpu_baseline",
                 "cvm.baseline.compress_baseline",
                 "cvm.baseline.specjbb_numatune_baseline",
                 "cvm.baseline.mlc_baseline",
                 "cvm.baseline.lmbench_baseline",
                 "cvm.baseline.stream_baseline",
                 "cvm.baseline.sysbench_memory_baseline",
                 "cvm.baseline.fio_hdd_baseline",
                 "cvm.baseline.ipi_baseline",
                 "cvm.baseline.cyclictest_baseline",
                 "cvm.baseline.hrtimer_baseline",
                 "cvm.baseline.hackbench_baseline",
                 "cvm.baseline.perf_bench_baseline",
                 "cvm.baseline.filebench_baseline",
                 "cvm.baseline.liying_baseline",
                 "cvm.baseline.redis_single_baseline",
                 "cvm.baseline.wzry_baseline",
                 "cvm.baseline.tymyd_single_baseline",
                 "cvm.baseline.hibench_baseline",
                 "cvm.baseline.sysbench_mysql_single_baseline",
                 "cvm.baseline.mysql_ziyan_slngle_baseline"
]

net_test = [
           "cvm.baseline.nginx_wrk_baseline",
           "cvm.baseline.nginx_wrk_tune_baseline",
           "cvm.baseline.dongqiudi_baseline",
]
net = [
      "cvm.baseline.ping_baseline",
      "cvm.baseline.ping_flood_baseline",
      "cvm.baseline.tcpping_baseline",
      "cvm.baseline.ping_size_baseline",
      "cvm.baseline.ping_flood_size_baseline",
      "cvm.baseline.nginx_wrk_baseline",
      "cvm.baseline.redis_cluster_baseline"
]
net_all = [
          "cvm.baseline.ping_baseline",
          "cvm.baseline.ping_flood_baseline",
          "cvm.baseline.tcpping_baseline",
          "cvm.baseline.ping_size_baseline",
          "cvm.baseline.iperf3_baseline",
          "cvm.baseline.redis_cluster_baseline",
          "cvm.baseline.sysbench_mysql_baseline",
          "cvm.baseline.tymyd_baseline",
          "cvm.baseline.spp_baseline",
          "cvm.baseline.pgbench_client_baseline",
          "cvm.baseline.nginx_wrk_baseline",
          "cvm.baseline.nginx_wrk_tune_baseline",
          "cvm.baseline.dongqiudi_baseline",
          "cvm.baseline.sockperf_baseline"
]